.madhu{
	   height: 2350px;
	   width: 800px;
	   background-color: white;
}
.madhu1{
	    height: 300px;
	    width: 800px;
	    background-color:whitesmoke;
}

.madhu11{
	    height: 80px;
	    width: 800px;
	    background-color:white;
	    
}
.madhu12{
	    height: 220px;
	    width: 800px;
	    background-color:blue;
	    
}
.madhu121{
	    height: 220px;
	    width: 400px;
	    background-color:whitesmoke;
	    float: left;
	    
}
.madhu122{
	    height: 220px;
	    width: 400px;
	    background-color:white;
	    float: right;
	    
}
.box{
	 width: 50px;
}










.bp{
	height: 200px;
    width: 800px;
	background-color:slateblue;
}
.bp1{
	height: 50px;
    width: 800px;
	background-color:slateblue;
}
.bp2{
	height: 150px;
    width: 800px;
	background-color:slateblue;
}
.bp21{
	height: 120px;
    width: 800px;
	background-color:blue;
	
}
.boy1{
	height: 120px;
    width: 150px;
	background-color:slateblue;
	float: left;
}
.boy2{
	height: 120px;
    width: 500px;
	background-color:white;
	float: left;
}
.boy11{
	height: 120px;
    width: 116px;
	background-color:white;
	float: left;
}
.boy12{
	height: 120px;
    width: 12px;
	background-color:slateblue;
	float: left;
}
.boy{
	height: 40px;
    width: 116px;
	background-color:white;
	float: left;
}

.boyy1{
	height: 40px;
    width: 58px;
	background-color:whitesmoke;
	float: left;
}
.boyy2{
	height: 40px;
    width: 58px;
	background-color:white;
	float: right;

}






.girl{
	height: 80px;
    width: 116px;
	background-color:white;
	float: left;
}














.bp22{
	height: 30px;
    width: 800px;
	background-color:slateblue;
}









.c{
	height: 400px;
    width: 800px;
	background-color: whitesmoke;
}
.d{
	height: 200px;
	width: 800px;
	background-color:slateblue;
}
.e{
	height: 250px;
	width: 800px;
	background-color: whitesmoke;

}
.f{
	height: 150px;
	width: 800px;
    background-color: slateblue;
}
.g{
	height: 300px;
    width: 800px;
    background-color: whitesmoke;
}
.k{
	height: 300px;
	width: 800px;
	background-color: slateblue;
}
.i{
	height: 250px;
	width: 800px;
	background-color: whitesmoke;
}