.a{
	height:300px;
	width:1500px;
	background-color:whitesmoke;
}
.b{
    height:50px;
    width:1500px;
    background-color: white;
}
.c{
	height:250PX;
	width: 1500px;
	background-color: white;
}
.d{
	height:250px;
	width:750px;
	background-color:white;
	float:left;
}
.e{
	height:250px;
	width:750px;
	background-color: white;
	float:right;

}
.f{
	height:300px;
	width:1500px;
	background-color: deepskyblue;
}
.g{
    height:50px;
    width:1500px;
    background-color:deepskyblue;
}
.h{
	height:250px;
	width:1500px;
	background-color: deepskyblue;
}
.i{
	height:300px;
	width:200px;
	background-color: deepskyblue;
	float: left;
}
.j{
	height:250px;
	width:1100px;
	background-color: deepskyblue;
	float: left;
}
.k{
	height:300px;
	width:200px;
	background-color: deepskyblue;
	float: right;
}
.l{
	height:50px;
	width:1100px;
	background-color: deepskyblue;
}
.m{
	height:200px;
	width:1100px;
	background-color: deepskyblue;
}
.n{
	height:50px;
	width:1100px;
	background-color: deepskyblue;
}
.ab{
	height:200px;
	width:260px;
	background-color:white;
	float: left;
}
.ba{
	height:200px;
	width:260px;
	background-color:white;
	float: right;
}
.cd{
	height:220px;
	width:20px;
	background-color: deepskyblue;
	float: left;
}
.ef{
	height: 400px;
	width: 1500px;
	background-color: white;
}
.gh{
	height:400px;
	width:200px;
	background-color: white;
	float: left;
}
.ij{
	height:400px;
	width:550px;
	background-color: white;
	float: left;
}
.kl{
	height:400px;
	width:200px;
	background-color: white;
	float:right;
}
.ka{
	height:25px;
	width:1500px;
	background-color: deepskyblue;
}
.mn{
	height:250px;
	width:1500px;
	background-color: deepskyblue;
}
.op{
	height:250px;
	width:200px;
	background-color: deepskyblue;
	float: left;
}
.ak{
	height:250px;
	width:550px;
	background-color: deepskyblue;
	float: left;
}
.hi{
	height:250px;
	width:200px;
	background-color: deepskyblue;
	float:right;
}
.i{
	height:300px;
	width:1500px;
	background-color:white;
}
.vi{
	height:25px;
	width:1500px;
	background-color: white;
}
.iv{
	height:250px;
	width:1500px;
	background-color: white;
}
.su{
	height:250px;
	width:200px;
	background-color: white;
	float: left;
}
.us{
	height:250px;
	width:550px;
	background-color: white;
	float: left;
}
.ih{
	height:250px;
	width:200px;
	background-color: white;
	float:right;
}